@charset "UTF-8";
nav {
  height: 50px;
  background: #262626; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li a {
        display: block;
        padding: 0 20px;
        text-decoration: none;
        line-height: 50px;
        background: #262626;
        color: #ffffff; }
        nav ul li a:hover {
          background: #2581DC;
          color: #ffffff; }
        nav ul li a:not(:only-child):after {
          padding-left: 4px;
          content: ' ˅'; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px;
          z-index: 1; }

nav .light {
  background: #dcdcdc; }
  nav .light ul li a {
    line-height: 50px;
    background: #dcdcdc;
    color: #000000; }
    nav .light ul li a:hover {
      background: #2581DC;
      color: #ffffff; }

.brand {
  position: inherit;
  padding-left: 35px;
  float: left;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.4em;
  background: transparent;
  width: 10%; }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none; }

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

.nav-mobile {
  display: none;
  position: absolute;
  top: 6px;
  right: 28px;
  background: #262626;
  height: 0;
  width: 50px; }

#nav-toggle {
  position: inherit;
  left: 18px;
  top: 23px;
  cursor: pointer;
  padding: 10px 25px 0 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 25px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 450ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block; }
  nav {
    height: 0;
    padding: 50px 0 15px; }
    nav ul {
      display: none; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }
  .nav-dropdown {
    position: static; }
  .brand {
    position: inherit;
    padding-left: 13px;
    float: left;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 1.4em;
    background: #262626;
    margin-top: -2.7rem; }
    .brand a,
    .brand a:visited {
      color: #ffffff;
      text-decoration: none; } }

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important; } }
